<!DOCTYPE html>
<html>
	<head>
		<title>Historia Clínica</title>
		<!-- Incluir CSS de Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Historia Clínica</h1>
			<ul class="list-group">
				<li class="list-group-item">ID: {{ historia_clinica.ID_HISTORIA }}</li>
				<li class="list-group-item">
					Fecha de Creación: {{ historia_clinica.FECHA_CREACION }}
				</li>
				<li class="list-group-item">
					Fecha de Modificación: {{ historia_clinica.FECHA_MODIFICACION }}
				</li>
				<li class="list-group-item">
					Motivo de Consulta: {{ historia_clinica.MOTIVO_CONSULTA }}
				</li>
				<li class="list-group-item">
					Riesgo Laboral: {{ historia_clinica.RIESGO_LABORAL }}
				</li>
				<li class="list-group-item">
					Antecedentes Personales: {{ historia_clinica.AP_PERSONAL }}
				</li>
				<li class="list-group-item">
					Antecedentes Familiares: {{ historia_clinica.AP_FAMILIAR }}
				</li>
				<li class="list-group-item">
					Hábitos Tóxicos: {{ historia_clinica.HABITOS_TOXICOS }}
				</li>
				<li class="list-group-item">
					Alergias a Medicamentos: {{ historia_clinica.ALERGICO_MEDIC }}
				</li>
				<li class="list-group-item">
					Operaciones: {{ historia_clinica.OPERACIONES }}
				</li>
				<li class="list-group-item">
					Transfusión de Sangre: {{ historia_clinica.TRANSFUCION_SANGRE }}
				</li>
				<li class="list-group-item">
					Vacunación: {{ historia_clinica.VACUNACION }}
				</li>
				<li class="list-group-item">
					Paciente: {{ historia_clinica.PACIENTE }}
				</li>
				<li class="list-group-item">
					Profesional: {{ historia_clinica.PROFESIONAL }}
				</li>
				<!-- Mostrar los demás campos según sea necesario -->
			</ul>
		</div>

		<!-- Incluir JS de Bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
