{% extends 'base.html' %} {% block content %}
<style>
	.carousel-item img {
		max-height: 300px; /* Ajusta el tamaño máximo de las imágenes */
		object-fit: contain;
	}

	.jumbotron h1.display-4 {
		font-weight: bold; /* Aumenta el grosor de las letras */
	}
</style>

<div class="jumbotron">
	<h1 class="display-4">Bienvenido a la Gestión de Historias Clínicas</h1>

	<a href="{% url 'lista_pacientes' %}">
		<button class="btn btn-primary">Lista P</button>
	</a>

	<a href="{% url 'lista_historias_clinicas' %}">
		<button class="btn btn-primary">Lista HC</button>
	</a>

	<p class="lead">
		Esta es una aplicación simple para gestionar tus historias clínicas de
		manera eficiente.
	</p>
	<hr class="my-4" />
	<p>
		Comienza a organizar tus historias clínicas y mantener un seguimiento de tus
		pacientes.
	</p>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var carousel = document.querySelector("#carouselExampleIndicators");
		var carouselInstance = new bootstrap.Carousel(carousel, {
			interval: 2000, // Intervalo de tiempo entre las transiciones de diapositivas (en milisegundos)
		});
	});
</script>
{% endblock %}
