<!DOCTYPE html>
<html>
	<head>
		<title>Lista de Pacientes</title>
		<style>
			.patient-name {
				text-decoration: underline;
				color: red;
				cursor: pointer;
			}
		</style>
		<script>
			function search() {
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("searchInput");
				filter = input.value.toUpperCase();
				table = document.getElementById("patientTable");
				tr = table.getElementsByTagName("tr");
				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[1]; // índice 1 para buscar en la columna del nombre
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}
		</script>
	</head>
	<body>
		<h1>Lista de Pacientes</h1>
		<input
			type="text"
			id="searchInput"
			onkeyup="search()"
			placeholder="Buscar paciente..." />
		<table id="patientTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Carnet</th>
					<th>Edad</th>
					<th>Direccion</th>
					<th>Ocupación</th>
					<th>Carrera</th>
				</tr>
			</thead>
			<tbody>
				{% for paciente in pacientes %}
				<tr>
					<td>{{ paciente.id_paciente }}</td>
					<td>
						{% if not paciente.historiaclinica %}
						<a
							href="{% url 'crear_historia_clinica'%}?paciente_id={{ paciente.id_paciente }}"
							>{{ paciente.nombre }}</a
						>
						{% else %} {{ paciente.nombre }} {% endif %}
					</td>
					<td>{{ paciente.apellidos }}</td>
					<td>{{ paciente.carnet_id }}</td>
					<td>{{ paciente.edad }}</td>
					<td>{{ paciente.direccion }}</td>
					<td>{{ paciente.ocupacion }}</td>
					<td>{{ paciente.carrera }}</td>

					<td>
						<a
							href="{% url 'editar_paciente' paciente_id=paciente.id_paciente %}"
							class="btn-secondary"
							>Editar paciente</a
						>
					</td>
					<td>
						<a
							href="{% url 'eliminar_paciente' paciente_id=paciente.id_paciente %}"
							class="btn-danger"
							>Eliminar paciente</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{% url 'agregar_paciente' %}" class="btn-primary"
			>Agregar paciente</a
		>
	</body>
</html>
