<!DOCTYPE html>
<html>
	<head>
		<title>Todas las Historias Clínicas</title>
		<!-- Incluir CSS de Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<h1>Todas las Historias Clínicas</h1>
			{% if historias_clinicas %}
			<ul class="list-group">
				{% for historia_clinica in historias_clinicas %}
				<li class="list-group-item">{{ historia_clinica.PACIENTE }}</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No se han creado historias clínicas</p>
			{% endif %}
		</div>

		<!-- Incluir JS de Bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
